<html>
<body>
{% extends 'base.html'%}
{% block content%}
{% for i in detail%}
    {{i.date}}
   {{i.title}}</a><br>
   {{i.Description}}<br>
   <img src="{{i.image.url}}"  style="height: 200px; object-fit: cover">
   <br>

     {% endfor%}
    {% endblock%}
</body>
</html>