<html>
<body>
{% extends 'base.html'%}
{% block content%}
{% for i in allinternational%}
    {{i.date}}
    {{i.title}}<br>
  {{i.Description}}<br>
   <br>
 
     {% endfor%}
    {% endblock%}
</body>
</html>