<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Login</h1>
    
    <form method="POST" class='form-signin'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" />
    </form>
    <br>
<small>Don't have account? Please signup!</small>
<a href='/register/'>Sign Up</a>
</body>

</html>